a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: white;
    outline: 0;
    position: relative;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

a img {
    border: 0
}

body,
button,
input,
select,
textarea {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5
}

body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #cccccc;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    min-width: 640px;
    min-height: 320px;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -100;
}

#header {
    display: table;
    width: 100%;
    min-width: 640px;
    padding: 0%;
    margin: 0%;
}

#maintitle {
    display: table-cell;
    vertical-align: middle;
    background-color: #502;
    width: 100%;
    height: 45px;
    z-index: 100;
}

#mainnav {
    z-index: 110;
    width: 100%;
    background-color: #800033;
    display: table-cell;
    vertical-align: middle;
    font-variant-caps: titling-caps;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

#mainmenulist {
    text-align: center;
    list-style: none;
}

.title-link {
    font-family: "Sarpanch", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
    line-height: 1.2em;
    display: inline-block;
}

.col-left {
    width: 45%;
    float: left;
    text-align: center
}

.col-right {
    width: 45%;
    float: right;
    text-align: center
}

.mainmenuitem {
    display: inline-block;
    min-width: 96px;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transform: perspective(5px) translateZ(0);
    transform: perspective(5px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.linkdash,
.linkdashlt {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.linkdash a::before,
.linkdash::before {
    content: '';
    width: 100%;
    height: 6px;
    margin: -3px 0 0;
    background: #502;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

.linkdash a:hover::before,
.linkdash:hover::before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.linkdashlt a::before,
.linkdashlt::before {
    content: '';
    width: 100%;
    height: 6px;
    margin: -3px 0 0;
    background: #800033;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

.linkdashlt a:hover::before,
.linkdashlt:hover::before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.siteinfo {
    padding: 10px 20px 10px 20px;
    color: #999999;
    background-color: #550022;
    font-size: 16px;
    text-align: center;
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 640px;
}

.footer-bar {
    float: right;
    text-align: right;
    position: relative;
    left: -30px;
}

.footer-sub-right {
    float: right;
    position: relative;
}

.footer-sub-left {
    float: right;
    position: relative;
    left: -10px;
    top: 12px;
}

.copyright {
    float: left;
}

.main {
    padding-bottom: 45px;
}

.sitecontent {
    width: 100%;
    min-width: 640px;
    min-height: 640px;
}

.compascontainer {
    position: fixed;
    top: 100px;
    width: 100%;
}

.compasmenu {
    width: 70%;
    height: 70%;
    margin: auto;
    display: block;
    max-width: 873px;
    max-height: 901px;
}

.pagetitlecontainer {
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagetitle {
    color: white;
    font-size: xx-large;
    background-color: rgba(7, 7, 14, 0.75);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pagebodycontainer {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pagebody {
    color: white;
    font-size: large;
    position: relative;
    width: 80%;
    line-height: 1.5em;
    background-color: rgba(7, 7, 14, 0.5);
}

p.firstpar {
    margin-top: 0;
    text-indent: 2em;
    padding: 0 5px 0 5px;
}

p.nextpar {
    margin-top: 1em;
    text-indent: 2em;
    padding: 0 5px 0 5px;
}

.centertext {
    text-align: center;
}